/* MyFooterStyles.css */

/* Style for the Box component */
.footer-box {
    background-color: rgba(22,22,34,255);
    margin-top: 50px;
    padding: 50px 0px;
    /* z-index: 3; */
  }
  
  /* Style for the Typography component */
  .footer-text {
    font-size: 20px;
    color: rgb(31, 169, 194);
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
  }
  