/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #05161a;
  --secondary: #072e33;
  --tertiary: #0c7075;

  --quat: #0f969c;
  --quin: #6da5c0;
  --seiz: #294d61;
  --error: #e7195a;
}
body {
  background: linear-gradient(60deg, var(--primary), var(--quat), var(--secondary));
  margin: 0;
  font-family: "Poppins";
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background: linear-gradient(220deg, var(--seiz), var(--primary));
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container a {
  color: var(--quin);
  text-decoration: none;
}

/* nav */
.nav-link {
  padding-left: 20px;
}
.nav nav a {
  position: relative; /* Position for pseudo-element */
  color: var(--quat);
  text-decoration: none;
}

/* Style for the pseudo-element after the links */
.nav nav a:after {
  content: "";
  position: absolute;
  background-color: blueviolet; /* Background color for the underline */
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px; /* Adjust the distance from the text as needed */
  transition: width 0.3s; /* Transition for the underline width */
}

/* Hover effect for the links */
.nav nav a:hover {
  color: var(--quin); /* Text color on hover */
  font-style: normal;
}

/* Expand the underline on hover */
.nav nav a:hover:after {
  width: 100%;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-rows: auto auto;
  gap: 40px;
}
.workout-card{
  width: 60%;
  margin: 0 auto;
}
.workout-details {
  background: rgb(20, 19, 19);
  background-position: 0% 0%;
  border-radius: 1.5rem;
  margin: 20px auto;
  height: 150px;
  padding: 20px;
  position: relative;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px, 
    transparent 1px
  );
  transition: background-position 350ms ease;
  background-size: 1.1rem 1.1rem;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--tertiary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--quin);
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--quin);
  padding: 6px;
  border-radius: 50%;
  border: 0.05rem solid var(--primary);
  color: var(--primary);
  transition: 0.5ms ease;
}
.workout-details span:hover {
  background: var(--primary);
  color: var(--quin);
  border: 0.09rem solid var(--tertiary);
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--quin);
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: var(--quin);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.6s ease; 
}

form.create button{
  padding-left: 5px;
  border-radius: 50%; /* Make the button circular */
  width: 40px; /* Set the width of the circular button */
  height: 40px; /* Set the height of the circular button to make it a perfect circle */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.3rem;
  font-weight: 500;
  transition: background-color 0.6s ease; 
}
form.create button:hover {
  background: var(--quin); 
  color: var(--primary); 
  font-weight: 700;
}
form button:hover {
  background: var(--quin); 
  color: var(--primary); 
}
div.error {
  font-size: 15px;
  padding: 10px;
  background: #e0d3d3f4;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
.input-workout {
  padding-top: 5px;
  padding-right: 20px;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
nav span, nav button {
  margin-left: 10px;
}
nav span{
  color: var(--primary);
  transition: 1s ease;
}
nav span:hover{
  color: var(--quat);
}
nav button {
  background: var(--quin);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  transition: 0.5ms ease;
}
nav button:hover{
  background: var(--primary);
  color: var(--quin);
  border: 2px solid var(--quin);
}
.grid-container {
  display: flex;
  align-items: center; /* Vertically center items */
  gap: 5px; /* Space between items */
}

/* auth forms */
/* Styles for form.signup, form.login, and form.create */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(40deg, var(--seiz), var(--tertiary));
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
form.create {
  display: flex;
  align-items: center;
  justify-content: center; 

}
form.signup h3,
form.login h3,
form.create h3 {
  color: var(--primary); /* Use the primary color for h3 */
}
form.create h3 {
  padding-right: 20px;
}
form.signup label,
form.login label,
form.create label {
  color: var(--primary); /* Set the color for labels */
}
form.create label {
  padding: 10px;
}

form input {
  color: var(--quin); /* Set the color for input text */
  border: 2px solid var(--seiz); /* Set the border color for input */
  padding: 5px; /* Adjust padding as needed */
  background-color: var(--secondary);
  font-family: inherit;
  transition: background-color 0.3s ease; 
}
form.signup input,
form.login input,
form.create input {
  color: var(--quin); /* Set the color for input text */
  border: 2px solid var(--seiz); /* Set the border color for input */
  padding: 5px; /* Adjust padding as needed */
  background-color: var(--secondary);
  font-family: inherit;
  transition: background-color 0.3s ease; 
}
form.create input{
  width: 100px;
}
form.signup input:hover,
form.login input:hover,
form.create input:hover {
  color: var(--primary);
  background-color: var(--quat); 
  opacity: 0.8;
}
form.signup input.error,
form.login input.error,
form.create input.error {
  border: 2px solid var(--error);
}

form.signup a,form.login a{
  color:var(--primary);
}
form.login a:hover, form.signup a:hover {
  color: var(--quin);
  font-weight: bold;
  text-decoration: none;
}